/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(244, 243, 225);
  }
  
  svg {
    display: block;
    margin: 0 auto;
  }
  text{
    fill: rgba(11, 47, 65, 0.861);
    font-family: Poppins;
    font-size: 9pt;
  }

  